a
  color: $light-blue

body
  background-color: $bg
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  margin: 0

header
  width: 100%

#overview
  display: flex
  width: 90%
  flex-wrap: wrap
  flex-direction: row
  justify-content: space-between


@media(max-width: 900px)
  #overview
    width: 80%

.centering
  display: flex
  justify-content: center
  padding-top: 5em
  padding-bottom: 5em
  flex-wrap: wrap


