{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock title %}

{% block description %}{{ page.description }}{% endblock description %}

{% block header %}
<header class="single-header top-spacing">
  {% if page.date %}
  <h3 class="article-date date">
    {{ page.date | date(format="%Y-%m-%d") }}
  </h3>
  {% endif %}
  <h1>{{ page.title }}</h1>

  {% if config.extra.reading_time %}
  <h3 class="reading-time">Reading time: {{ page.reading_time }}min</h3>
  {% endif %}

  {% if page.taxonomies.tags %}
  <ul class="single-tag-list">
    {% for tag in page.taxonomies.tags %}
    <li class="tag">#{{ tag }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</header>
{% endblock header %}



{% block pre_content %}
{% if page.extra.toc %}
<nav id="toc">
  <ul class="toc-level-one">
    {% for h1 in page.toc %}
    <li class="toc-entry">
      <a class="toc-link" href="#{{h1.id | safe}}">{{ h1.title }}</a>
      {% if h1.children %}
      <ul class="toc-level-two">
        {% for h2 in h1.children %}
        <li class="toc-entry">
          <a class="toc-link" href="#{{h2.id | safe}}">{{ h2.title }}</a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</nav>
{% endif %}
{% endblock pre_content %}


{% block content %}
<article class="single-article">
  <section class="single-content">
    {{ page.content | safe }}
  </section>
</article>
{% endblock content %}

{% block bottom_scripts %}
{% if page.extra.toc %}
<script src="{{ get_url(path="toc.js", trailing_slash=false) }}"></script>
{% endif %}
{% endblock bottom_scripts %}
